

:root{
    --akcen-tcolor: #94CFFF;
    --logo-colot: #FFFFFF;
    --main-text: #212121;
    --et-textcolor: #26C6EA;
    --title-color: #0A3853;
    --borter-color: #0B0E66;
    --tim-background: #000000;
    --footer-background: #141414;
}

.container {
    width: 1440px;
    outline: 1px solid red;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Inter";
}


/* -------header------- */

.head-logo  {
    width: 186px;
    height: 72px;
    display: flex;
    margin-right: 93px;
}
.head-all   {
    display: flex;
}
.head-info  {
    display: flex;
    gap: 38px;
}
.head-Contacts  {
    margin-right: 228px;
}
.head-log_in    {
    margin-right: 49px;
}
.head-log   {
    display: flex;
    gap: 10px;
}
.head-peremukach    {
    width: 36px;
    height: 20px;
}
.head-mains {
    color: var(--akcen-tcolor);
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
}
.head-hero  {
    color: var(--logo-colot);
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
}
.head-Contacts {
    color: var(--logo-colot);
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
}
.head-ENG{
    color: var(--logo-colot);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1,25;
}
.head-UA {
    color: var(--logo-colot);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1, 25;
}


/* --------body---text---img---step_1---------  */





.box-text{
    width: 298px;
    height: 96px;
    flex-shrink: 0;

    color: var(--logo-colot);
    font-size: 20px;
    font-weight: 400;
    line-height: 1,2;
}
.box-img{
    width: 152px;
    height: 40px;
}

 




















































































